@import "../constants/colors";

.container {
  display: flex;
  justify-content: center;
}

.contentAll {
  margin: 100px 200px 0 200px;
  width: 1000px;
}

.title {
  font-size: 18px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.teamCard {
  width: calc(33.3333333% - 140px / 3);
  margin: 0 70px 50px 0;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
