.container {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.errorMessage {
  margin-top: 40px;
}

.title {
  font-size: 24px;
}

.emailInput {
  margin-top: 30px;
}

.subjectButton {
  margin-top: 30px;
}

.signInPageLink {
  margin-top: 40px;
}
