//pallet
$blue: #3da9fc;
$lightBlue: #d8eefe;
$white: #ffffff;
$darkGray: #333333;
$gray: #5f6c7b;
$lightGray: #aaaaaa;
$red: #ef4565;

//Semantic
$link: $blue;
$notice: $lightBlue;
$defaultText: $gray;
$primaryText: $blue;
$dangerText: $red;
$whiteText: $white;
$textBoxDisabled: darken($white, 20%);
$placeholder: $lightGray;
$primaryButton: $blue;
$primaryButtonHover: darken($primaryButton, 10%);
$primaryButtonDisabled: lighten($primaryButton, 15%);
$defaultButton: $white;
$defaultButtonHover: darken($defaultButton, 10%);
$defaultButtonDisabled: darken($defaultButton, 20%);
$dangerButton: $red;
$grayBorder: $lightGray;
$blueBorder: $blue;
$teamCard: $white;
$teamCardHover: darken($teamCard, 5%);
