@import "../../constants/colors.scss";

@mixin baseStyle {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  outline: none;
  width: 100%;
}

.default {
  @include baseStyle;
  background-color: $defaultButton;
  border: 2px solid $grayBorder;
  color: $defaultText;

  &:hover {
    background-color: $defaultButtonHover;
  }

  &:disabled {
    background-color: $defaultButtonDisabled;
  }
}

.primary {
  @include baseStyle;
  background-color: $primaryButton;
  color: $whiteText;

  &:hover {
    background-color: $primaryButtonHover;
  }

  &:disabled {
    background-color: $primaryButtonDisabled;
  }
}
