@import "../../constants/colors";

.default {
  color: $defaultText;
}

.primary {
  color: $primaryText
}

.danger {
  color: $dangerText
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}
