@import "../../constants/colors.scss";

@mixin baseStyle {
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}

.default {
  @include baseStyle;
  color: $defaultText;
}

.primary {
  @include baseStyle;
  color: $primaryText;
}

.danger {
  @include baseStyle;
  color: $dangerText;
}
