@import "../../constants/colors";

.container {
  background-color: $teamCard;
  border: 2px solid $grayBorder;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  height: 120px;

  &:hover {
    background-color: $teamCardHover;
  }
}

.name {
  font-size: 18px;
}

.memberCountWrapper {
  margin-top: 15px;
}
