@import "../../constants/colors";

.modal {
  height: 340px;
  width: 570px;
}

.header {
  align-items: center;
  border-bottom: 1px solid $grayBorder;
  display: flex;
  height: 60px;
  justify-content: center;
}

.body {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 80px 80px 0 80px;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 50px;
}

.button {
  width: 150px;
}
