@import "../../constants/colors";

.modal {
  height: 340px;
  width: 570px;
}

.header {
  align-items: center;
  border-bottom: 1px solid $grayBorder;
  display: flex;
  height: 60px;
  justify-content: center;
}

.body {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 0 80px;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
}
